body { 
    margin: 0; 
    font-family: 'Sono', sans-serif;
 }

 main {
    height: 100vh;
 }
form#form { 
    display: flex;
    box-sizing: border-box; 
    flex-direction: row;
    padding: 1em;
    margin: 0 auto;


}

input#chat_input {
    flex: 1 1 auto;
    border: 2px solid #023e73; 
    border-radius: 0.5em;
    margin: 0  0.5em  0 0;
    padding: 0.5em;
    font-size: 1.25em;

}

button#send_btn { 

    padding: 0 1rem;  
    border-radius: 0.5em; 
    border: none;
    background-color: #f2ab6d;
    color: white;
}

section.chatbot {
    min-width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    max-height: 30rem;
    overflow: scroll;

    }

    main h1 {
        text-align: center;
        line-height:2em;
        font-size: 4em;
        font-weight: 500;
        letter-spacing: 0.2em;
    }

    h1 > span.welcome {
        letter-spacing: 0;
        font-style: italic;
        font-size: 1em;
        font-weight: 100;
    }
    main p {
        text-align: center;
        line-height: 1.25;
        font-size: 1.5em;
    }

div.message {

    display: flex;
    flex-direction:column;
    margin-top:  1em 0;
}

div.right {
    align-items: end;
}
div.message span.message{
    padding: 0.5rem;
    background-color: #023e73;
    color: white;
    border-radius: 0.5em;
    width: fit-content;

}

span.sender {
    font-style: italic;
    font-size: 1.25em;
    padding: 0.5em;
}
