body { 
    margin: 0; 
    padding-bottom: 3rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

#form { 
    display: flex;
    box-sizing: border-box; 
    flex-direction: row;
}

input#chat_input {
    flex: 1 1 auto;
    border: 2px solid green; 
    margin: 0  0.5em  0 0;
    padding: 0.5em;
}

#send_btn { 
    background: none; 
    border: none; 
    background-color: burlywood;
    padding: 0 1rem; 
    margin: 0.25rem; 
    border-radius: 3px; 
    outline: none; 
    color: green; 
}

section.chatbot {
    max-width: 20rem;
    position: fixed;
    bottom: 2rem;
    max-height: 20rem;
    border: 1em solid red;
    overflow: scroll;
    }

div.message {
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction:column;
}

div.right {
    align-items: end;
}
div.message span.message{
    padding: 0.5rem;
    background-color: darkseagreen;
    border-radius: 0.25em;
    width: fit-content;
    font-size: 1.5em;

}

span.sender {
    font-style: italic;
    font-size: 1.25em;
}
